
var htmls='<form class="form-horizontal" role="form">';
 htmls+='<div class="form-group">';
 htmls+='<label class="col-sm-2 control-label" ';
 htmls+='>تاريخ البدء</label>';

 htmls+=' <div class="col-sm-10">';
 htmls+='<div class="input-group date"><input type="text" name="dateStart" id="dateStart" value="" placeholder="تاريخ الانتهاء" data-date-format="YYYY-MM-DD" class="form-control"><span class="input-group-btn">';
 htmls+=' <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button> </span></div>';
 htmls+='</div>';
 htmls+='</div>';
 htmls+='<div class="form-group">';
 htmls+='<label class="col-sm-2 control-label"';
 htmls+='>تاريخ الانتهاء</label>';
 htmls+='<div class="col-sm-10">';
 htmls+='<div class="input-group date"><input type="text" name="dateEnd" id="dateEnd" value="" placeholder="تاريخ البدء" data-date-format="YYYY-MM-DD" class="form-control"><span class="input-group-btn">';
 htmls+='<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button> </span></div>';
 htmls+='</div>';
 htmls+='</div>';
 htmls+='<div class="form-group">';
 htmls+=' <label class="col-sm-2 control-label"';
 htmls+='>سعر</label>';
 htmls+='<div class="col-sm-10">';
 htmls+='<input name="price" class="form-control"';
 htmls+='id="price" />';
 htmls+='</div></div>';
 htmls+='</form>';


































